<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>
<form class="py-3" (ngSubmit)="createBooking()"  [formGroup]="bookingData">
  <div class="form-group">
    <label for="tableNo">Table Number</label>
    <input type="number" class="form-control" [ngClass]="{ 'is-invalid': tableNo.invalid && (tableNo.dirty || tableNo.touched)}" id="tableNo" placeholder="1" formControlName="tableNo">
    <div class="invalid-feedback">
      Table number is required
    </div>
  </div>
  <div class="form-group">
    <label for="contactName">Contact Name</label>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched)}" id="contactName" placeholder="Bob" formControlName="name">
    <div class="invalid-feedback">
      Contact name is required
    </div>
  </div>
  <div class="form-group">
    <label for="contactNo">Contact No</label>
    <input type="tel" class="form-control" id="contactNo" placeholder="07470372539" [ngClass]="{ 'is-invalid': contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)}" formControlName="number">
    <div class="invalid-feedback">
      Contact number is required
    </div>
  </div>
  <div class="form-group">
    <label for="diners">No of Diners</label>
    <input type="number" class="form-control" id="diners" placeholder="1" [ngClass]="{ 'is-invalid': diners.invalid && (diners.dirty || diners.touched)}" formControlName="diners">
    <div class="invalid-feedback">
      Number of diners is required
    </div>
  </div>
  <div class="form-group">
    <label for="DateTime">Date</label>
    <input type="datetime-local" class="form-control" id="DateTime" formControlName="dateTime" [ngClass]="{ 'is-invalid': dateTime.invalid && (dateTime.dirty || dateTime.touched)}">
    <div class="invalid-feedback">
      Date/Time of booking is required
    </div>
  </div>
  <div class="d-flex">
    <button [disabled]="!bookingData.valid" type="submit" class="btn btn-primary mr-auto">Save Booking</button>
    <a [routerLink]="['/']" type="button" class="btn btn-outline-secondary">Cancel</a>
  </div>
</form>
